    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          {{PROJECT_TITLE}} 公車數據中心
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if 'index' == segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p><b>首頁</b></p>
            </a>
          </li>
          <li class="nav-item {% if 'report_index' in segment %} active {% endif %}">
            <a class="nav-link" href="/report_index/">
              <i class="material-icons">content_paste</i>
              <p><b>報表</b></p>
            </a>
          </li>

          <li class="nav-item {% if 'stoptostop' in segment %} active {% endif %}">
            <a class="nav-link" href="/stoptostop/prehandle/">
              <i class="material-icons">library_books</i>
              <p><b>站到站 資訊統計</b></p>
            </a>
          </li>

          <li class="nav-item {% if 'notify' in segment %} active {% endif %}">
            <a class="nav-link" href="/notify/">
              <i class="material-icons">person</i>
              <p><b>通知推播名單</b></p>
            </a>
          </li>
<!--          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">-->
<!--            <a class="nav-link" href="/page-user.html">-->
<!--              <i class="material-icons">person</i>-->
<!--              <p>User Profile</p>-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-blank.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
<!--          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">-->
<!--            <a class="nav-link" href="/ui-maps.html">-->
<!--              <i class="material-icons">location_ons</i>-->
<!--              <p>Maps</p>-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}

    </div>
