{% extends "layouts/base.html" %}

{% block title %} Report Parameters {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}公車 原始資料調用{% endblock stylesheets %}

{% block content %}
    <h1>{{title}}</h1>
    <h3>下列資訊用以直接調用與呈現原始駕駛紀錄：</h3>
    <p>
        <br>
        <h4><form action="{% url 'bus_rawdata_view' %}" method="post">
            {% csrf_token %}

            {% for f in para_form%}
                {{f.label}}: {{f}}<br><br>
            {% endfor %}
            <br><br>
            <input type="submit" class="btn btn-primary btn-round" value="GET DATA">

        </form></h4>
    </p>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}