# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
*.log.*

# venv
env
venv

# other
playground.py
.DS_Store
.idea
.env


# javascript
package-lock.json

static/*
!static/.gitkeep
.vscode/symbols.json
