{% extends "layouts/base.html" %}

{% block title %} 資料流 流量統計 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <h1>{{title}}</h1>
    <h3>下列資訊用以調用資料流量紀錄：</h3>
    <p>
        <br>
        <form action="{% url 'data_traffic_view' %}" method="post">
            {% csrf_token %}
            {% for f in para_form %}
                <h4>{{f.label}}: {{f}}</h4>
            {% endfor %}
            <br><br>
            <input type="submit" class="btn btn-primary btn-round" value="GET DATA">

        </form>
    </p>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}