{% extends "layouts/base.html" %}

{% block title %} Report Parameters {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <h1>{{title}}</h1>
    <h3>請輸入下列資訊：</h3>
    <p>
        <br>
        <h4><form action="/stoptostop/result/" method="post">

            {% for f in para_form %}
                <h4> {{f.label}}: {{f}} </h4>
            {% endfor %}
            <br><br>

            <input type="submit" class="btn btn-primary btn-round" value="Analysis">

        </form></h4>
    </p>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}