{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %}
{% block title %} {{title}} {% endblock %}

{% block content %}

    <div id="report_html">
    {% include "app/report_simple.html" %}
    </div>

    <br>
    <center><a onclick="window.open('{{ request.get_full_path }}&type=pdf')" class="btn btn-primary btn-round">Download as pdf</a></center>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}