{% extends "layouts/base.html" %}

{% block title %} Report Parameters {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <h1>{{title}}</h1>
    <h3>請輸入下列資訊以建立報表：</h3>
    <p>
        <br>
        <h4><form action="/report_index/{{rtype}}/" method="get">
            {% for f in para_form %}
                {% if f.name in rtype_paras %}
                    <h4> {{f.label}}: {{f}} </h4>

                    {% if f.name == "off_duty_tol" %}
                        <h5><p class="text-muted">  發車時間超出？秒即脫班</p></h5><br>
                    {% elif f.name == "early_tol" %}
                        <h5><p class="text-muted">  發車時間提早表訂時間逾?秒鐘</p></h5><br>
                    {% elif f.name == "delay_tol" %}
                        <h5><p class="text-muted">  發車時間超過表訂時間逾?秒鐘</p></h5><br>
                    {% else %}
                        <br>
                    {% endif %}

                {% endif %}
            {% endfor %}
            <br><br>
            <input type="submit" class="btn btn-primary btn-round" value="Create">

        </form></h4>
    </p>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}