{% extends "layouts/base.html" %}

{% block title %} Report types {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <h1>{{title}}</h1>
    <h3>請輸入下列資訊以建立報表：</h3>
    <p>
        <br>
        <h4><form action="/report_index/{{rtype}}/" method="get">
            {% if "start_time" in rtype_paras %}
                起始時間: <input type="date" value={{default_values.d_start_time}} name="start_time"><br><br>
            {% endif %}

            {% if "end_time" in rtype_paras %}
                結束時間: <input type="date" value={{default_values.d_start_time}} name="end_time"><br><br>
            {% endif %}

            {% if "rid" in rtype_paras %}
                路線: <select name="rid">
                {% for r in rids%}
                    <option value={{r.rid}}>{{r.name}} </option>
                {% endfor %}
                </select><br><br>

            {% endif %}

            {% if "carno" in rtype_paras %}
                車號: <input  value={{default_values.d_carno}} name="carno"><br><br>
            {% endif %}

            {% if "vid" in rtype_paras %}
                營運商:<select name="vid">
                {% for v in vids%}
                    <option value={{v.vid}}>{{v.name}} </option>
                {% endfor %}
                </select><br><br>
            {% endif %}

            {% if "off_duty_tol" in rtype_paras %}
                脫班: <input  value=1200 name="off_duty_tol">秒<br>
                <p class="text-muted">  發車時間超出？秒即脫班</p><br>
            {% endif %}

            {% if "early_tol" in rtype_paras %}
                早發: <input  value=60 name="early_tol">秒<br>
                <p class="text-muted">  發車時間提早表訂時間逾?秒鐘</p><br>
            {% endif %}

            {% if "delay_tol" in rtype_paras %}
                遲發: <input  value=300 name="delay_tol">秒<br>
                <p class="text-muted">  發車時間超過表訂時間逾?秒鐘</p><br>
            {% endif %}

            <br><br>
            <input type="submit" class="btn btn-primary btn-round" value="Create">

        </form></h4>
    </p>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}