{% extends "layouts/base.html" %}

{% block title %} map {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load leaflet_tags %}
    {% leaflet_css %}
    {% leaflet_js %}
    {% include "map/map.css" %}
{% endblock stylesheets %}

{% block content %}
    <h1>{{title}}</h1>
    <h3>{{ route_ch_name }}</h3>
    {% leaflet_map "map" callback="window.map_init"%}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <script type="text/javascript">
        var line = {{geojson_line|safe }};
        function map_init(map, options) {
            L.geoJson(line).addTo(map);

            {% for c in geojson_circle %}
            var c_{{ forloop.counter }} = L.circle([{{c.lat}}, {{c.lon}}], {{ c.avg_arrival_time_spent }}).addTo(map);
            {% endfor %}

            {% for c in geojson_circle %}
            var p_{{ forloop.counter }} = L.circle([{{c.lat}}, {{c.lon}}], 3).addTo(map);
            p_{{ forloop.counter }}.setStyle({ color: 'black',fillColor: 'black', fillOpacity: 1})
            {% endfor %}

            setTimeout(function(){
                 map.setView([{{avg_lat}}, {{avg_lon}}],12);
            }, 1000);

        }

    </script>
<!--    <script>-->
<!--        function onMapClick(e) {-->
<!--            alert("經緯度座標：" + e.latlng);-->
<!--        }-->
<!--        map.on('click', onMapClick);-->
<!--    </script>-->
    <script>
        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>

{% endblock javascripts %}
